<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Drop_O_Matic.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Drop_O_Matic.My.MySettings>
            <setting name="HurryLogin" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HurryLoginTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullControlAdmin" serializeAs="String">
                <value>zonecomputers</value>
            </setting>
            <setting name="DataBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WOnePayOut" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="WTwoPayOut" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="WThreePayOut" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="WFourPayOut" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WFivePayOut" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="SmallJackPot" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="UserAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BetAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserIDNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SmallJackPotAmount" serializeAs="String">
                <value>25</value>
            </setting>
        </Drop_O_Matic.My.MySettings>
    </userSettings>
</configuration>